* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 500px;
  margin: 10px auto;
  padding: 20px;
  border: 2px dashed #8a8686;
  border-radius: 10px;
}

.button {
  padding: 5px 10px;
  border: 3px solid #4d57e9;
  border-radius: 5px;
  background-color: #4868c1;
  color: #fff;
  cursor: pointer;
}

.collapse {
  margin: 20px 0;
}